---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Stroustrup
PointerAlignment: Left
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
